.initLoader{
    width: 100px;
    height: 100px;
}

.line {
    height: 3px;
    width: 100%;
    background: var(--white);
    margin-top: 30%;

    .inner {
        width: 100%;
        height: inherit;
        background: var(--secondary-color);
        animation: slide 2s ease-in-out infinite;
    }
}

@keyframes slide {
    0% {
        transform-origin: left;
        transform: scalex(0.3);
    }

    25% {
        transform-origin: left;
        transform: scalex(1);
    }

    26% {
        transform-origin: right;
        transform: scalex(1);
    }

    50% {
        transform-origin: right;
        transform: scalex(0.3);
    }

    75% {
        transform-origin: right;
        transform: scalex(1);
    }

    76% {
        transform-origin: left;
        transform: scalex(1);
    }

    100% {
        transform-origin: left;
        transform: scalex(0.3);
    }
}