/* Utitlies */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --page-color: #e3e6e6;
    --primary-color: #151875;
    --secondary-color: #fb2e86;
    --red-color: #fb2448;
    --button-color: #ffc107;
    --blue-100-color: #2f1ac4;
    --blue-200-color: #3f509e;
    --blue-300-color: #151875;
    --blue-400-color: #15245e;
    --blue-500-color: #1d3178;
    --purple-100-color: #f3f9ff;
    --purple-200-color: #e0d3f5;
    --purple-300-color: #7e33e0;
    --purple-400-color: #9f63b5;
    --gray-100-color: #8a91ab;
    --gray-200-color: #f4f4fc;
    --green-100-color: #19d16f;
    --white: #ffffff;
    --black: #000000;
}

#root {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    max-width: 1166px !important;
}

/* Background Colors */

.bg-secondary-color {
    background-color: var(--secondary-color) !important;
}

.bg-blue-100 {
    background-color: var(--primary-color);
}

.bg-blue-200 {
    background-color: var(--secondary-color);
}

.bg-blue-300 {
    background-color: var(--page-color);
}

.bg-gray-200-color {
    background-color: var(--gray-200-color);
}

.bg-green-100-color {
    background-color: var(--green-100-color) !important;
}

/* Text Colors */

.text-blue-400-color {
    color: var(--blue-400-color);
}

.text-blue-500-color {
    color: var(--blue-500-color);
}

.text-gray-100-color {
    color: var(--gray-100-color);
}

/* Fonts */

.font-lato {
    font-family: 'Lato', sans-serif;
}

.font-24 {
    font-size: 24px;
}

.font-22 {
    font-size: 22px;
}

.font-20 {
    font-size: 20px;
}

.font-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 16px;
}

.font-14 {
    font-size: 14px !important;
}

.font-12 {
    font-size: 12px;
}

/* Actions and other styles */
.cursor-pointer {
    cursor: pointer;
}

.navbar-toggler {
    filter: invert(1);
}

.text-overflow {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.line-clamp-1 {
    -webkit-line-clamp: 1;
}

.object-fit {
    object-fit: contain;
}

.list-style-position {
    list-style-position: inside;
}

/* -------------- LAYOUT CSS -------------- */

/* Header */
.header-modal .modal-dialog {
    border-radius: 0;

    @media screen and (min-width:992px) {
        margin-right: 0;
        top: 31px;
        right: -205px;
    }
}

.header-modal .modal-content {
    width: 255px;
    border-radius: 0;
}

/* Pagination */
.pagination>.page-item.active>.page-link {
    background-color: var(--button-color);
    border: 0;
}

/* Home page */

.carousel-indicators {
    display: none !important;
}

.carousel-control-prev>span {
    filter: invert(1);
}

.carousel-control-next>span {
    filter: invert(1);
}

.home-carousel .carousel-item>img {
    object-fit: cover;
    object-position: top;
    height: 317px;
}

.home-carousel>.carousel-item>.card-image {
    width: 262px;
    height: 246px;
    object-fit: contain;
}

/* products */
.product-cards .cards {
    height: 339px !important;
}

/* product-details-carousel */

.product-details-carousel {
    height: 594px;
}

.product-details-carousel .carousel-item img {
    width: 546px;
    height: 546px;
    object-fit: contain;
}

.product-details-carousel>.carousel-indicators {
    display: block !important;
    text-align: center;
}

.product-details-carousel>.carousel-indicators>button {
    background-color: #131921;
}

.product-details-dropdown {
    min-width: 47px !important;
}

/* Login Signup */
.login-signup-page {
    height: 100vh;
}

.login-signup-page .login-signup-forms {
    width: 100%;

    @media screen and (min-width:768px) {
        width: 22rem;
    }
}

.new-signup {
    width: 100%;

    @media screen and (min-width:768px) {
        width: 110px;
    }
}

.register-image>input::file-selector-button {
    width: 206px;
}

/* Your account */
.profile-container {
    max-width: 598px !important;
    height: 60vh;
}